html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  width: 100%;
  height: 100%;
  min-height: 580px;
}
body {
  height: 100%;
  font-size: 12px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
}
a,
a:focus,
a img,
a img:focus {
  border: 0 none;
}
a,
a img,
textarea,
input {
  outline: 0 none;
}
/* remember to define focus styles! */
a:focus {
  outline: thin dotted;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
a {
  color: white;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
}
dl,
dt,
dd {
  margin: 0;
}
textarea {
  overflow: auto;
}
/* mixins */
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.transition {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../fonts/ProximaNovaSemibold.otf');
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNovaBold.otf');
}
@font-face {
  font-family: 'PT Serif', serif;
  src: url('https://fonts.googleapis.com/css?family=PT+Serif');
}
body {
  font-family: Helvetica, Arial, sans;
  -webkit-font-smoothing: antialiased;
}
.clearfix {
  content: '.';
  clear: both;
}
.section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.sidebar {
  position: relative;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100vh;
  width: 500px;
  padding: 0 30px 0 48px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  z-index: 10;
}
.sidebar::before {
  content: '';
  position: absolute;
  box-sizing: inherit;
  background: inherit;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  filter: blur(10px);
}
.logo {
  position: relative;
  float: left;
  display: block;
  width: 115px;
  height: 43px;
  margin-top: 40px;
  cursor: pointer;
}
.logo .logo_svg {
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.logo:hover .logo_svg {
  fill: #3fff8c;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.menu-icon {
  position: relative;
  display: block;
  float: right;
  margin-top: 45px;
  cursor: pointer;
}
.menu-icon .menu-icon__part {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  margin-bottom: 8px;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.menu-icon:hover .menu-icon__part {
  background-color: #3fff8c;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.sidebar-title {
  position: relative;
  float: left;
  padding-top: 100px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'PT Serif', serif;
  color: #ffffff;
}
.sidebar-title .normal-header {
  display: block;
  font-size: 17px;
  line-height: 20px;
}
.sidebar-title .huge-header {
  display: block;
  margin-top: 20px;
  font-family: 'ProximaNovaSemibold', sans-serif;
  font-size: 72px;
  line-height: 70px;
  letter-spacing: -1px;
}
.next-page-icon {
  position: relative;
  float: left;
  margin: 50px 0 50px 40px;
  text-transform: uppercase;
  color: #ffffff;
  transition-property: color;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: 'ProximaNovaBold';
  font-size: 12px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.next-page-icon::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 11px;
  top: 2px;
  left: -37px;
  background: url("../img/arrow_down.png") 0 0 no-repeat;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.next-page-icon:hover {
  color: #3fff8c;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.next-page-icon:hover::before {
  background-color: #3fff8c;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.contact-form-button {
  display: block;
  float: right;
  box-sizing: border-box;
  width: 200px;
  height: 45px;
  margin-top: 30px;
  margin-right: 48px;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
  background-color: #0f1f1f;
  transition-property: color background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.contact-form-button:hover {
  color: #0f1f1f;
  background-color: #3fff8c;
  transition-property: color background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.contact-form-button:active {
  color: #142929;
  background-color: #00d857;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}
.features {
  float: right;
}
.feature {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  color: #0f1f1f;
}
.feature .feature-img {
  width: 50px;
  height: 50px;
}
.section__a {
  background-image: url(../img/bg_0.jpg);
}
.sidebar__a {
  background-image: url(../img/bg_0.jpg);
}
.section__b {
  background-image: url(../img/bg_1.jpg);
}
.sidebar__b {
  background-image: url(../img/bg_1.jpg);
}
.section__c {
  background-color: #b2b2b2;
}
.sidebar__c {
  background-color: #ffffff;
  border: 1px solid #ff0000;
}
.sidebar__c .logo_svg {
  fill: #0f1f1f;
}
.sidebar__c .menu-icon__part {
  background-color: #0f1f1f;
}
.sidebar__c .sidebar-title {
  color: #0f1f1f;
}
.sidebar__c .sidebar-title .huge-header {
  font-size: 32px;
  line-height: 36px;
}
.sidebar__c .next-page-icon {
  color: #0f1f1f;
}
.sidebar__c .next-page-icon::before {
  background-color: #0f1f1f;
}
