body {
  font-family: Helvetica, Arial, sans;
}
.section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
#section1 {
  background: url("../img/bg_0.jpg") no-repeat 50% fixed;
  background-size: cover;
}
#section2 {
  background: url("https://image.freepik.com/free-vector/music-seamless-pattern-abstract-background_82147503365.jpg") repeat;
}
.sidebar {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  width: 400px;
  padding: 0 48px;
  overflow: hidden;
  background: url("../img/bg_0.jpg") no-repeat 50% fixed;
  background-size: cover;
  z-index: 10;
}
#section2 .sidebar {
  background: url("https://image.freepik.com/free-vector/music-seamless-pattern-abstract-background_82147503365.jpg") no-repeat 50% fixed;
  background-size: cover;
}
.sidebar::before {
  content: '';
  position: absolute;
  background: inherit;
  box-sizing: inherit;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  filter: blur(8px);
}
.sidebar-title {
  position: relative;
  color: #ffffff;
  padding-top: 100px;
  text-align: center;
}
.logo {
  position: relative;
  display: block;
  width: 115px;
  height: 43px;
  margin-top: 40px;
  fill: #ffffff;
}
.next-page-icon {
  position: absolute;
  bottom: 0;
  margin-left: 40px;
  margin-bottom: 50px;
  color: #ffffff;
}
.next-page-icon::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 11px;
  top: 2px;
  left: -37px;
  background: url("../img/arrow_down.png") 0 0 no-repeat;
}
