
.section_c {
  background-color: #f2f2f2;
}


.sidebar_c {
  background-color: @white;
  .logo__svg {
    fill: @black;
    &:hover .logo__svg {
      fill: @green;
    }
  }
  .menu-icon__part {
    background-color: @black;
    &:hover .menu-icon__part {
      background-color: @green;
    }
  }
  .sidebar__main-text {
    color: @black;
    & .header_huge {
      font-size: 32px;
      line-height: 36px;
    }
  }
  .icon_next-page {
    color: @black;
    &::before {
      background-color: @black;
    }
    &:hover {
      color: @green;
      &::before {
        background-color: @green;
      }
    }
  }
}
