// out: ../css/style.css, sourcemap: false, compress: false


// Переменные
@white: #ffffff;
@pink: #3fff8c;
@black: #0f1f1f;
@time: 0.35s ease-in-out;



// Базовые стили

body {
  font-family: Helvetica, Arial, sans;
}



// Секции

.section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#section1 {
  background: url("../img/bg_0.jpg") no-repeat 50% fixed;
  background-size: cover;
}

#section2 {
  background: url("../img/bg_1.jpg") no-repeat 50% 0;
  background-size: cover;
  background-color: #f2f2f2;
}



// Сайдбар

.sidebar {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  width: 400px;
  padding: 0 48px;
  overflow: hidden;
}

.sidebar--first {
  background: url("../img/bg_0.jpg") no-repeat 50% fixed;
  background-size: cover;
  z-index: 10;
}

.sidebar--first::before {
  content: '';
  position: absolute;
  background: url("../img/bg_0.jpg") no-repeat 50% fixed;
  background-size: cover;
  box-sizing: border-box;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  filter: blur(8px);
}

.sidebar--second {
  background: url("../img/bg_1.jpg") no-repeat 50%;
  background-size: cover;
  z-index: 10;
  .logo_svg {
    fill: @black;
  }
  .sidebar-title {
    color: @black;
  }
  .menu-icon__part {
    background-color: @black;
  }
  .next-page-icon {
    color: @black;
  }
}

.sidebar--second::before {
  content: '';
  position: absolute;
  background: url("../img/bg_1.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  filter: blur(8px);
}

.sidebar-title {
  position: relative;
  color: @white;
  padding-top: 200px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: lighter;
  & span {
    display: block;
    margin-bottom: 25px;
  }
  & span:nth-child(2) {
    font-size: 36px;
  }
}



// Логотип

.logo {
  position: relative;
  display: block;
  width: 115px;
  height: 43px;
  margin-top: 40px;
  &:hover .logo_svg {
    fill: @pink;
    transition: fill @time;
  }
}

.logo_svg {
  fill: @white;
  transition: fill @time;
}



// Меню

.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50px;
  margin-right: 30px;
  cursor: pointer;
  &:hover .menu-icon__part {
    background-color: @pink;
    transition: background-color @time;
  }
}

.menu-icon__part {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  margin-bottom: 8px;
  background-color: @white;
  transition: background-color @time;
}



// Кнопка услуги

.next-page-icon {
  position: absolute;
  display: block;
  bottom: 0;
  margin-left: 40px;
  margin-bottom: 50px;
  text-decoration: none;
  color: @white;
  transition: color @time;
  &:hover {
    color: @pink;
    transition: color @time;
  }
}

.next-page-icon::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 11px;
  top: 2px;
  left: -37px;
  background: url("../img/arrow_down.png") 0 0 no-repeat;
}



// Форма обратной связи

.contact-form-button {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 200px;
  height: 45px;
  // top: 0;
  right: 0;
  margin-top: 30px;
  margin-right: 48px;
  color: @white;
  text-align: center;
  line-height: 45px;
  border-radius: 2px;
  cursor: pointer;
  background-color: @black;
  transition: background-color @time;
  &:hover {
    color: @black;
    background-color: @pink;
    transition: background-color @time;
  }
  &:active {
    color: lighten(@black, 3%);
    background-color: darken(@pink, 20%);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  }
}
