/*  S T A R T  O F  reset.less  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  width: 100%;
  height: 100%;
  min-height: 580px;
}
body {
  height: 100%;
  font-size: 12px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
}
a,
a:focus,
a img,
a img:focus {
  border: 0 none;
}
a,
a img,
textarea,
input {
  outline: 0 none;
}
/* remember to define focus styles! */
a:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
}
dl,
dt,
dd {
  margin: 0;
}
textarea {
  overflow: auto;
}
/* mixins */
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*  E N D  O F  reset.less  */
/*  S T A R T  O F  variables.less  */
@pre-tablet : (min-width: 500px) and (max-width: 929px);
@tablet : (min-width: 930px) and (max-width: 1279px);
@desktop : (min-width: 1280px);
@desktop-lg : (min-width: 1692px);
@retina : (min-resolution: 192dpi) and (min-resolution: 2dppx);
.transition {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
/*  E N D  O F  variables.less  */
/*  S T A R T  O F  main.less  */
body {
  font-family: Helvetica, Arial, sans;
  -webkit-font-smoothing: antialiased;
}
.header {
  position: absolute;
}
.logo {
  position: relative;
  z-index: 1000;
}
.logo__img {
  width: 200px;
}
.main-nav {
  position: relative;
  height: 100px;
}
.main-nav__list {
  position: relative;
  z-index: 1000;
}
.main-nav__list .main-nav__item {
  list-style: none;
  float: left;
  margin-right: 20px;
}
.slide {
  float: left;
}
.slide__btns {
  width: 800px;
  margin: 0 auto;
}
.slide__btn {
  float: left;
  width: 200px;
  padding: 10px;
  margin-right: 15px;
  color: #fff;
  text-align: center;
  background-color: #2cb9db;
  cursor: pointer;
  border-radius: 2px;
}
.slide__btn_contact {
  float: none;
  margin: 0 auto;
}
.slide__btn_next {
  float: right;
}
.map {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  background-color: #2cb9db;
}
/*  E N D  O F  main.less  */
