/*  S T A R T  O F  reset.less  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
label,
legend,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  width: 100%;
  height: 100%;
  min-height: 580px;
}
body {
  height: 100%;
  font-size: 12px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
body,
html {
  overflow: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
}
a,
a:focus,
a img,
a img:focus {
  border: 0 none;
}
a,
a img,
textarea,
input {
  outline: 0 none;
}
/* remember to define focus styles! */
a:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
}
dl,
dt,
dd {
  margin: 0;
}
textarea {
  overflow: auto;
}
/* mixins */
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*  E N D  O F  reset.less  */
.font_main {
  font-family: 'FuturaNewBook', sans-serif;
  font-size: 19px;
  line-height: 22px;
}
.font_header {
  font-family: 'FuturaDemiC', sans-serif;
}
/*  E N D  O F  variables.less  */
/*  S T A R T  O F  fonts.less  */
@font-face {
  font-family: 'FuturaNewBook';
  src: url('../fonts/FuturaNewBook.otf');
}
@font-face {
  font-family: 'FuturaDemiC';
  src: url('../fonts/FuturaDemiC.otf');
}
@font-face {
  font-family: 'FuturaDemiCItalic';
  src: url('../fonts/FuturaDemiC-Italic.otf');
}
/*  E N D  O F  fonts.less  */
/*  S T A R T  O F  main.less  */
body {
  font-family: Helvetica, Arial, sans;
  -webkit-font-smoothing: antialiased;
}
#fullPage-nav li a,
#menu li a,
a {
  text-decoration: none;
}
#fullpage,
.section {
  height: 100%;
}
.section {
  position: relative;
  text-align: center;
  background: #e8e8e8;
  padding: 0 30px;
}
.section__inner {
  margin: 0 auto;
}
h2 {
  font-size: 24px;
}
.slide {
  float: left;
}
.slide__inner {
  margin: 0 auto;
  max-width: 700px;
}
.feature {
  float: left;
  box-sizing: border-box;
  padding: 0 40px;
  width: 33%;
}
.feature a {
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.feature a:hover {
  color: #2cb9db;
}
.feature a:hover .feature__img {
  border-color: #2cb9db;
  fill: #2cb9db;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.feature__img {
  height: 200px;
  width: 100%;
  border: 1px solid #2cb9db;
}
.slide__btns {
  margin: 0 auto;
}
.slide__btn {
  float: left;
  box-sizing: border-box;
  width: 165px;
  height: 40px;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slide__btn:hover {
  border-color: #2cb9db;
}
.slide__btn:hover a {
  color: #2cb9db;
}
.slide__btn_prev {
  float: left;
}
.slide__btn_contact {
  float: none;
  width: 240px;
  border: 1px solid #2cb9db;
  background-color: #2cb9db;
}
.slide__btn_next {
  float: right;
}
.slide__btn a {
  display: block;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (min-width: 320px) and (max-width: 699px) {
  #fp-nav {
    display: none;
  }
}
/*  E N D  O F  main.less  */
/*  S T A R T  O F  header.less  */
.header {
  position: fixed;
  width: 100%;
  height: 116px;
  background-color: rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 1000;
}
.header__inner {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
}
.logo_header {
  position: relative;
  float: left;
  margin-top: 28px;
  margin-left: 30px;
  z-index: 1000;
}
.logo__img_header {
  width: 128px;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.fp-viewing-intro .logo__img_header {
  opacity: 0;
  -webkit-transition: opacity 0s;
  -moz-transition: opacity 0s;
  -ms-transition: opacity 0s;
  -o-transition: opacity 0s;
  transition: opacity 0s;
}
@media only screen and (min-width: 320px) and (max-width: 699px) {
  .fp-viewing-intro .header {
    opacity: 0;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    -ms-transition: opacity 0s;
    -o-transition: opacity 0s;
    transition: opacity 0s;
  }
  .logo_header {
    margin-top: 20px;
    margin-left: 20px;
  }
  .logo__img_header {
    width: 87px;
  }
}
@media only screen and (min-height: 550px) {
  .logo__img_header {
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    -ms-transition: opacity 0s;
    -o-transition: opacity 0s;
    transition: opacity 0s;
  }
}
/*  E N D  O F  header.less  */
/*  S T A R T  O F  menu.less  */
.header__menu {
  width: 600px;
  margin: 0 auto;
  background-color: #444;
}
#menu {
  position: relative;
  float: left;
  left: 50%;
  margin-top: 45px;
  z-index: 70;
}
#menu li {
  position: relative;
  float: left;
  left: -50%;
  margin-right: 25px;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#menu li.active::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  margin-top: 25px;
  margin-left: 50%;
  background-color: #2cb9db;
  opacity: 0.5;
  border-radius: 48%;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#menu li:not(.active):hover {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#menu li a {
  display: block;
  color: #2cb9db;
  font-family: 'FuturaDemiC', sans-serif;
  font-size: 14px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
#menu li a,
#menu li.active a {
  padding: 5px 10px;
}
#menu li.active a {
  color: #2cb9db;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.menu__btn {
  display: none;
  float: right;
  width: 30px;
  margin-right: 20px;
  margin-top: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.menu__btn i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2cb9db;
  margin-bottom: 4px;
  -webkit-transition: margin-bottom 0.3s;
  -moz-transition: margin-bottom 0.3s;
  -ms-transition: margin-bottom 0.3s;
  -o-transition: margin-bottom 0.3s;
  transition: margin-bottom 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.menu__btn i:last-child {
  margin-bottom: 0px;
}
.menu__btn:hover {
  cursor: pointer;
}
.menu__btn:focus {
  outline: none;
  border-style: none;
}
@media only screen and (min-width: 320px) and (max-width: 699px) {
  .header__menu {
    display: none;
  }
  .menu__btn {
    display: block;
  }
}
@media only screen and (min-width: 700px) and (max-width: 929px) {
  #menu li {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 930px) and (max-width: 1279px) {
}
/*  E N D  O F  menu.less  */
/*  S T A R T  O F  section_intro.less  */
.section_intro {
  min-height: 550px;
  background-color: #edf0f0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI5NC4zJSIgeTE9IjEwNy4zJSIgeDI9IjUuNyUiIHkyPSItNy4zJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZGFlMGUxIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
  background-image: -webkit-gradient(linear, 94.3% 107.3%, 5.7% -7.3%, color-stop(0, #ffffff), color-stop(1, #dae0e1));
  background-image: -webkit-repeating-linear-gradient(120deg, #ffffff 0%, #dae0e1 100%);
  background-image: repeating-linear-gradient(330deg, #ffffff 0%, #dae0e1 100%);
  background-image: -ms-repeating-linear-gradient(120deg, #ffffff 0%, #dae0e1 100%);
}
.section__inner_intro {
  height: 100%;
}
.logo__img {
  width: 158px;
  margin: 35px;
  margin-top: 17.5%;
}
.intro__text {
  margin: 0 auto;
  max-width: 765px;
  font-family: 'FuturaNewBook', sans-serif;
  font-size: 19px;
  line-height: 22px;
}
.next-page__link {
  display: block;
  position: absolute;
  height: 75px;
  margin-top: 50px;
  padding-top: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #2cb9db;
  font-size: 16px;
  text-transform: uppercase;
}
.next-page__link::before {
  content: '';
  position: absolute;
  margin-top: 35px;
  margin-left: 44px;
  width: 30px;
  height: 16px;
  background-image: url(../img/arrow_down.png);
}
@media only screen and (min-width: 700px) and (max-width: 929px) {
  .logo__img {
    width: 256px;
  }
}
@media only screen and (min-width: 930px) and (max-width: 1279px) {
  .logo__img {
    width: 384px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 2500px) {
  .logo__img {
    width: 460px;
  }
}
/*  E N D  O F  section_intro.less  */
/*  S T A R T  O F  section_services.less  */
.section_services {
  min-height: 660px;
  background-image: url(../img/bg_sec_serv.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.slide__header {
  margin-top: 150px;
  margin-bottom: 35px;
  font-family: 'FuturaDemiC', sans-serif;
  font-size: 34px;
}
.slide__desc {
  font-family: 'FuturaNewBook', sans-serif;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 70px;
}
.slide__features {
  width: 100%;
  margin-bottom: 80px;
}
.slide_intro .feature {
  width: 25%;
  padding: 0 30px;
}
.feature__title {
  margin: 0 auto;
  font-family: 'FuturaDemiC', sans-serif;
  font-size: 20px;
}
.slide_intro .feature__img {
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
  fill: #ffffff;
  height: auto;
  border: none;
}
.slide_intro .feature__img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid #ffffff;
}
.icon {
  display: block;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.feature__img_production {
  width: 36px;
}
.feature__img_event {
  width: 44px;
}
.feature__img_creative {
  width: 39px;
}
.feature__img_digital {
  width: 37px;
}
.slide_intro .slide__btn_next {
  float: none;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 699px) {
  .slide__features {
    margin-bottom: 20px;
  }
  .slide__header {
    margin-top: 30px;
    margin-bottom: 8px;
  }
  .slide__desc {
    margin-bottom: 20”px;
  }
  .feature {
    width: 50%;
    margin-bottom: 15px;
  }
  .feature__title {
    font-size: 18px;
  }
  .feature__img {
    margin-bottom: 10px;
  }
}
/*  E N D  O F  section_services.less  */
/*  S T A R T  O F  section_projects.less  */
.section_projects {
  background-image: url(../img/bg_sec_proj.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
/*  E N D  O F  section_projects.less  */
/*  S T A R T  O F  section_clients.less  */
.section_clients {
  background-color: #00566c;
  color: #ffffff;
}
.fp-viewing-clients i {
  background-color: #ffffff;
}
.fp-viewing-clients #menu li a {
  color: #ffffff;
}
.fp-viewing-clients #menu li.active::before {
  background-color: #ffffff;
}
.fp-viewing-clients #fp-nav ul li a.active span,
.fp-viewing-clients .fp-slidesNav ul li a.active span,
.fp-viewing-clients #fp-nav ul li:hover a.active span,
.fp-viewing-clients .fp-slidesNav ul li:hover a.active span {
  border: 2px solid #ffffff;
}
.fp-viewing-clients #fp-nav ul li a span,
.fp-viewing-clients .fp-slidesNav ul li a span {
  background: #ffffff;
}
.fp-viewing-clients #fp-nav ul li:hover a span,
.fp-viewing-clients .fp-slidesNav ul li:hover a span {
  border: 2px solid #ffffff;
}
/*  E N D  O F  section_clients.less  */
/*  S T A R T  O F  section_partners.less  */
.section_partners {
  background-color: #60bad0;
  color: #ffffff;
}
.fp-viewing-partners i {
  background-color: #ffffff;
}
.fp-viewing-partners #menu li a {
  color: #ffffff;
}
.fp-viewing-partners #menu li.active::before {
  background-color: #ffffff;
}
.fp-viewing-partners #fp-nav ul li a.active span,
.fp-viewing-partners .fp-slidesNav ul li a.active span,
.fp-viewing-partners #fp-nav ul li:hover a.active span,
.fp-viewing-partners .fp-slidesNav ul li:hover a.active span {
  border: 2px solid #ffffff;
}
.fp-viewing-partners #fp-nav ul li a span,
.fp-viewing-partners .fp-slidesNav ul li a span {
  background: #ffffff;
}
.fp-viewing-partners #fp-nav ul li:hover a span,
.fp-viewing-partners .fp-slidesNav ul li:hover a span {
  border: 2px solid #ffffff;
}
/*  E N D  O F  section_partners.less  */
/*  S T A R T  O F  map.less  */
.section__inner_contacts {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
}
.contacts-card {
  position: relative;
  max-width: 378px;
  height: 359px;
  margin: 0 30px;
  z-index: 100;
  color: #ffffff;
  background-color: #60bad0;
}
.fp-viewing-contacts i {
  background-color: #ffffff;
}
.fp-viewing-contacts #menu li a {
  color: #ffffff;
}
.fp-viewing-contacts #menu li.active::before {
  background-color: #ffffff;
}
.map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*  E N D  O F  main.less  */
