/*  S T A R T  O F  contacts-pop-up.less  */

.hide {
    display: none;
}

.popup {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    .opacity (0);
    .transition (all 0.3s);
}

.show {
    visibility: visible;
    .opacity (1);
    .transition (all 0.3s);
}

.popup-content {
    width: 80%;
    height: 80%;
    min-height: 600px;
    margin: 40px auto 0px auto;
    padding: 10px;
    background-color: @white;
}


.btn_close {
    cursor: pointer;
    border: 1px solid @black;
    color: @black;
}

// /*  E N D  O F  contacts-pop-up.less  */
