/*  S T A R T  O F  header.less  */


.header {
    position: absolute;
    width: 100%;
    height: 116px;
    .gradient (@startColor: rgba(0,0,0,0.5), @endColor: rgba(255,255,255,0));
    opacity: 1;
    .transition (opacity 1s);
    z-index: 1000;
}

.fp-viewing-intro .header {
    .gradient (@startColor: rgba(0,0,0,0), @endColor: rgba(255,255,255,0));
    opacity: 0;
    .transition (opacity 0s);
}

.header__inner {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
}

.logo_header {
    position: relative;
    float: left;
    margin-top: 28px;
    margin-left: 30px;
    z-index: 1000;
}

.logo__img_header {
    width: 128px;
    opacity: 1;
    .transition (opacity 1s);
}


@media @mobile {
    .fp-viewing-intro .header {
        display: none; // Как скрыть из загрузки ???
    }
}


/*  E N D  O F  header.less  */
