/*  S T A R T  O F  main.less  */

// @font-face {
//     font-family: 'FuturaNewBook';
//     src: url('../fonts/FuturaNewBook.otf');
// }


body {
  font-family: Helvetica, Arial, sans;
  -webkit-font-smoothing: antialiased;
}


// .clearfix { // Проверить, как работает аналогичный миксин в reset.less
//   content: '.';
//   clear: both;
// }


.header {
    position: absolute;
}

.logo {
    position: relative;
    z-index: 1000;
}
.logo__img {
    width: 200px;
}


.main-nav {
    position: relative;
    height: 100px;
}
.main-nav__list {
    position: relative;
    z-index: 1000;
}
.main-nav__list .main-nav__item {
    list-style: none;
    float: left;
    margin-right: 20px;
}


.slide {
    float: left;
}
.slide__btns{
    width: 800px;
    margin: 0 auto;
}
.slide__btn {
    float: left;
    width: 200px;
    padding: 10px;
    margin-right: 15px;
    color: #fff;
    text-align: center;
    background-color: #2cb9db;
    cursor: pointer;
    border-radius: 2px;
}
.slide__btn_contact {
    float: none;
    margin: 0 auto;
}
.slide__btn_next {
    float: right;
}

.map {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    background-color: @main;
}


/*  E N D  O F  main.less  */
