/*  S T A R T  O F  main.less  */

body {
  font-family: Helvetica, Arial, sans;
  -webkit-font-smoothing: antialiased;
}


.center-line {
    position: absolute;
    margin: 0 50%;
    width: 1px;
    height: 100%;
    z-index: 100;
    background-color: red;
}

// .clearfix { // Проверить, как работает аналогичный миксин в reset.less
//   content: '.';
//   clear: both;
// }


#fullPage-nav li a,
#menu li a,
a {
    text-decoration: none
}

#fullpage,
.section, {
    height: 100%
}

.section {
    position: relative;
    text-align: center;
}

.section__inner {
    max-width: 600px;
    margin: 0 auto;
}

#menu {
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
}

#menu li {
    display: inline-block;
    margin: 5px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, .5);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    &.active {
        background: #666;
        background: rgba(0, 0, 0, .5);
        color: #fff
    }
}

#menu li a,
#menu li.active a:hover {
    color: #000
}

#menu li.active a {
    color: #fff
}

#menu li:hover {
    background: rgba(255, 255, 255, .8)
}

#menu li a,
#menu li.active a {
    padding: 5px 10px;
    display: block
}


#fullPage-nav {
    position: absolute;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1
}

#fullPage-nav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px
}

#fullPage-nav li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer
}

#fullPage-nav li .active span {
    background: #333
}

#fullPage-nav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1
}


.fp-viewing-intro .header {
    display: none; // Как скрыть из загрузки ???
}

.header {
    position: absolute;
}

.menu {
    // display: none;
}


.logo_header {
    position: relative;
    z-index: 1000;
}

.logo__img_header {
    width: 128px;
}

.main-nav {
    position: relative;
    height: 100px;
}
.main-nav__list {
    position: relative;
    z-index: 1000;
}
.main-nav__list .main-nav__item {
    list-style: none;
    float: left;
    margin-right: 20px;
}


.slide {
    float: left;
}
.slide__inner {
    margin: 0 auto;
    max-width: 500px;
}
.slide__features {
    float: left;
    // margin: 0 auto;
}
.feature {
    float: left;
    background-color: @main;
    line-height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    a {
        display: block;
        width: 100px;
        height: 100px;
    }
}

.slide__btns{
    float: left;
    max-width: 600px;
    margin: 0 auto;
}
.slide__btn {
    float: left;
    width: 100px;
    margin-right: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
    background-color: #2cb9db;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid red;
}
.slide__btn a {
    display: block;
}
.slide__btn_prev {
    float: left;
}
.slide__btn_contact {
    float: none;
    margin: 0 auto;
}
.slide__btn_next {
    float: right;
}

h2 {
    font-size: 24px;
}

/*  E N D  O F  main.less  */
