/*  S T A R T  O F  contacts-pop-up.less  */


.popup_contacts {
    background-color: rgba(0,0,0,0.5);
}
.popup-content {
    width: 80%;
    height: 80%;
    min-height: 600px;
    margin: 40px auto 0px auto;
    padding: 10px;
    background-color: @white;
}
.btn_close {
    cursor: pointer;
    border: 1px solid @black;
    color: @black;
}


// /*  E N D  O F  contacts-pop-up.less  */
