/*  S T A R T  O F  popup_menu.less  */


.popup_menu {
    background-color: rgba(14,51,60,0.95);
}
.popup_menu .logo_header {
    z-index: 1000;
}
.popup__menu-item {
    .font_header;
    font-size: 30px;
    color: @white;
    margin-bottom: 20px;
}
.popup__menu-item:first-child {
    margin-top: 60px;
}

/*  E N D  O F  popup_menu.less  */
