/*  S T A R T  O F  section_partners.less  */


.section_partners {
    background-color: @bg;
    color: @white;
}

.fp-viewing-partners i {
    background-color: @white;
}

.fp-viewing-partners #menu li {
    & a {
        color: @white;
    }
    &.active::before {
        background-color: @white;
    }
}

/*  E N D  O F  section_partners.less  */
