/*  S T A R T  O F  section_projects.less  */


.section_projects {
    background-image: url(../img/bg_sec_proj.jpg);
    background-position: center;
    background-size: cover;
    color: @white;
}

.projects_icon {
    position: relative;
    height: 200px;
}
.img_projects {
    width: 175px;
}


/*  E N D  O F  section_projects.less  */
