// main: ../less/main.less
/*  S T A R T  O F  section_contacts.less  */

// .section_contacts {
//     min-height: 550px;
// }

.contacts__block {
    position: relative;
    float: left;
<<<<<<< HEAD
    max-width: 278px;
=======
    max-width: 378px;
>>>>>>> eae4b2b... add contact
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 30px;
    padding-bottom: 60px;
    color: @white;
    text-align: left;
    background-color: @main;
    .opacity (0.8);
    z-index: 100;
}
<<<<<<< HEAD
.contacts__block .section__header {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: left;
}

=======

.contacts .section__header {
    margin-top: 0;
}


>>>>>>> eae4b2b... add contact
.contact {
    display: block;
    margin-left: 40px;
    margin-bottom: 20px;
    .font_header;
    font-size: 21px;
<<<<<<< HEAD
    text-align: left;
=======
>>>>>>> eae4b2b... add contact
    &::before {
        content: '';
        position: absolute;
        left: 30px;
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
<<<<<<< HEAD
        background-size: contain;
    }
}
.address::before {
    background-image: url(../img/icon_map.svg);
}
.telephone::before {
    background-image: url(../img/icon_phone.svg);
}
.email::before {
    background-image: url(../img/icon_email.svg);
}
=======
    }
}

.address::before {
    background-image: url(../img/icon_map.svg);
}

.telephone::before {
    background-image: url(../img/icon_phone.svg);
}

.email::before {
    background-image: url(../img/icon_email.svg);
}


>>>>>>> eae4b2b... add contact
.email a {
    color: @white;
    border-bottom: 2px solid @white;
    &:hover {
        border-bottom: 2px solid transparent;
    }
}


.map {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}


<<<<<<< HEAD
/*  E N D  O F  section_contacts.less  */
=======
/*  E N D  O F  main.less  */
>>>>>>> eae4b2b... add contact
