/*  S T A R T  O F  section_clients.less  */


.section_clients {
    background-color: @bg;
    color: @white;
}

.fp-viewing-clients i {
    background-color: @white;
}

.fp-viewing-clients #menu li {
    & a {
        color: @white;
    }
    &.active::before {
        background-color: @white;
    }
}


/*  E N D  O F  section_clients.less  */
