/*  S T A R T  O F  variables.less  */
// Screen resolution
@mobile: ~"only screen and (min-width: 320px) and (max-width: 499px)";
@pre-tablet: (min-width: 500px) and (max-width: 929px);
@tablet: (min-width: 930px) and (max-width: 1279px);
@desktop: (min-width: 1280px);
@desktop-lg: (min-width: 1692px);
@retina: (min-resolution: 192dpi) and (min-resolution: 2dppx);


// Colors
@white: #ffffff;
@black: #000000;
@main: #2cb9db;
@bg: #60bad0;


// Other
.transition {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
/*  E N D  O F  variables.less  */
